<div class="d-flex justify-content-between w-100 mt-5 mb-5 pb-5" style="height: 25rem;">
    <div class="w-50 mh-100 mr-5" style="background-color: #eee;">VIDEO PLACEHOLDER</div>
    <div class="w-50 h-100 ml-5 d-flex flex-column justify-content-around">
        <h1>Найди тренера</h1>
        <p>Какой то вдохновляющий текст</p>
        <div class="d-flex justify-content-between">
            <a hreg="#" class="btn btn-outline-primary btn-lg w-50 mr-3 mt-2" role="button">Зарегистрироваться</a>
            <a hreg="#" class="btn btn-outline-primary btn-lg w-50 ml-3 mt-2" role="button">Узнать больше</a>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between w-100 mb-5" style="height: 10rem;">
    <div>
        <div class="h-75" style="background-color: #eee;">
            FEATURE IMG PLACEHOLDER
        </div>
        <p class="m-2">Feature</p>
    </div>
    <div>
        <div class="h-75" style="background-color: #eee;">
            FEATURE IMG PLACEHOLDER
        </div>
        <p class="m-2">Feature</p>
    </div>
    <div>
        <div class="h-75" style="background-color: #eee;">
            FEATURE IMG PLACEHOLDER
        </div>
        <p class="m-2">Feature</p>
    </div>
</div>