<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">FitnessMarket</a>
        <div class="d-flex flex-row justify-content-between vw-100">
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Тренеры</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">О нас</a>
                    </li>
                </ul>
            </div>
            <div>
                <form class="form-inline ">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div>
                <a hreg="#" class="btn btn-outline-primary" role="button">Стать тренером</a>
                <a hreg="#" class="btn btn-outline-primary" role="button">Войти</a>
                <a hreg="#" class="btn btn-outline-primary" role="button">Зарегистрироваться</a>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->

    <!-- PAGE CONTENT -->
    <div class="container">
        <!-- LANDING CONTENT -->
        <div class="d-flex justify-content-between w-100 mt-5 mb-5 pb-5" style="height: 25rem;">
            <div class="w-50 mh-100 mr-5" style="background-color: #eee;">VIDEO PLACEHOLDER</div>
            <div class="w-50 h-100 ml-5 d-flex flex-column justify-content-around">
                <h1>Найди тренера</h1>
                <p>Какой то вдохновляющий текст</p>
                <div class="d-flex justify-content-between">
                    <a hreg="#" class="btn btn-outline-primary btn-lg w-50 mr-3 mt-2" role="button">Зарегистрироваться</a>
                    <a hreg="#" class="btn btn-outline-primary btn-lg w-50 ml-3 mt-2" role="button">Узнать больше</a>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between w-100 mb-5" style="height: 10rem;">
            <div>
                <div class="h-75" style="background-color: #eee;">
                    FEATURE IMG PLACEHOLDER
                </div>
                <p class="m-2">Feature</p>
            </div>
            <div>
                <div class="h-75" style="background-color: #eee;">
                    FEATURE IMG PLACEHOLDER
                </div>
                <p class="m-2">Feature</p>
            </div>
            <div>
                <div class="h-75" style="background-color: #eee;">
                    FEATURE IMG PLACEHOLDER
                </div>
                <p class="m-2">Feature</p>
            </div>
        </div>
        <!-- END LANDING CONTENT -->

        <!-- TRAINERS SECTION -->
        <div class="vh-100">
            <h2 class="mb-5">Тренеры</h2>
            <div class="d-flex mh-100">
                <!-- TRAINERS LIST -->
                <div class="flex-fill d-flex flex-wrap row">
                    <!-- SINGLE TRIANER CARD -->
                    <div class="card m-1" style="max-width: 31%;">
                        <img class="w-100" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.lepfitness.co.uk%2Fwp-content%2Fuploads%2F2017%2F08%2Fmock-certified-trainer.jpg&f=1&nofb=1">
                        <div class="card-body">
                            <h5 class="card-title">Супер тренер</h5>
                            <p>Рейтинг: 2.5/5</p>
                            <p>Powerlifting</p>
                            <p>$10/сессия</p>
                        </div>
                    </div>
                    <!-- END SINGLE TRAINER CARD -->
                    <div class="card m-1" style="max-width: 31%;">
                        <img class="w-100" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.lepfitness.co.uk%2Fwp-content%2Fuploads%2F2017%2F08%2Fmock-certified-trainer.jpg&f=1&nofb=1">
                        <div class="card-body">
                            <h5 class="card-title">Супер тренер</h5>
                            <p>Рейтинг: 2.5/5</p>
                            <p>Powerlifting</p>
                            <p>$10/сессия</p>
                        </div>
                    </div>
                    <div class="card m-1" style="max-width: 31%;">
                        <img class="w-100" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.lepfitness.co.uk%2Fwp-content%2Fuploads%2F2017%2F08%2Fmock-certified-trainer.jpg&f=1&nofb=1">
                        <div class="card-body">
                            <h5 class="card-title">Супер тренер</h5>
                            <p>Рейтинг: 2.5/5</p>
                            <p>Powerlifting</p>
                            <p>$10/сессия</p>
                        </div>
                    </div>
                    <div class="card m-1" style="max-width: 31%;">
                        <img class="w-100" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.lepfitness.co.uk%2Fwp-content%2Fuploads%2F2017%2F08%2Fmock-certified-trainer.jpg&f=1&nofb=1">
                        <div class="card-body">
                            <h5 class="card-title">Супер тренер</h5>
                            <p>Рейтинг: 2.5/5</p>
                            <p>Powerlifting</p>
                            <p>$10/сессия</p>
                        </div>
                    </div>
                </div>
                <!-- END TRAINERS LIST -->

                <!-- SEARCH FILTER FORM BOX -->
                <div class="card p-3 mt-1 h-100 col-lg-4">
                    <form>
                        <select class="form-control mb-3" aria-placeholder="Регион">
                            <option>Москва</option>
                            <option>Санкт-Петербург</option>
                            <option>Владивосток</option>
                            <option>Казань</option>
                        </select>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="radio-male" checked>
                            <label class="form-check-label" for="radio-male">
                                Мужчина
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="radio-female" checked>
                            <label class="form-check-label" for="radio-female">
                                Женщина
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <input type="number" class="form-control" placeholder="Цена от" style="max-width: 45%;">
                            <input type="number" class="form-control" placeholder="Цена до" style="max-width: 45%;">
                        </div>
                        <select class="form-control mt-3 mb-3" aria-placeholder="Вид спорта">
                            <option>Кроссфит</option>
                            <option>Пауэрлифтинг</option>
                            <option>Йога</option>
                        </select>
                        <button type="submit" class="btn btn-primary">Найти тренера</button>
                    </form>
                </div>
                <!-- END SEARCH FILTER FORM BOX -->
            </div>
        </div>
        <!-- END TRAINERS SECTION -->
    </div>
    <!-- END PAGE CONTENT -->

    <!-- FOOTER -->
    <footer class="footer pt-4 my-md-5 pt-md-5 border-top mr-0">
        <div class="container">
            Footer™ 2020
        </div>
    </footer>
    <!-- END FOOTER -->

</body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>